/* Arrows */

.arrows {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--background3-color);
    font-size: 2rem;
    border-top-left-radius: 1rem;
    width: 4rem;
}

.arrows>i {
    display: grid;
    place-content: center;
    margin: auto;
    aspect-ratio: 1/1;
    margin-top: 0.25rem;
    cursor: pointer;
    transition: 0.5s color;
}

.arrows>i:hover {
    color: var(--accent-color);
}


/* Main */

.slide-full {
    min-height: 100vh;
}

.slide-half {
    min-height: 50vh;
}

.slide-third {
    min-height: 33vh;
}

.slide_title {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}


/* Slide 1 - Top */

#slide-title {
    background-color: var(--slide_title_bg-color);
    color: var(--slide_title-color);
    font-size: 4rem;
    text-align: center;
    display: grid;
    place-items: center;
}

#slide-title img {
    max-height: 25vh;
    max-width: 25vw;
    margin-bottom: 2rem;
}

#slide-title p {
    max-width: 60vw;
    margin: 0;
}


/* Slide 2 - Distribution */

#slide-platforms {
    background-color: var(--slide_platforms_bg-color);
    color: var(--slide_platforms-color);
    padding: 2rem;
}

.platformContainerContainer {
    width: 100%;
    display: grid;
    place-items: center;
}

.platformContainer {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.platformEntry {
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #888;
    padding: 1rem;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "platform_icon" "platform_name";
}

.platformIcon {
    grid-area: platform_icon;
    filter: brightness(0);
    display: grid;
    place-items: center;
}

.platformIcon img {
    max-height: 10vh;
}

.platformName {
    grid-area: platform_name;
}

.platformLinkCopy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    place-content: center;
    background-color: #000000cc;
    color: #ffffff;
    border-radius: 0.25rem;
    gap: 0.5rem;
    cursor: pointer;
}

.platformEntry:hover .platformLinkCopy {
    display: grid;
}

.platformLinkCopy i {
    font-size: 3rem;
}

.platformEntry:hover .platformLinkCopy {
    color: var(--accent-color);
}

.platformLinkCopy:hover {
    color: var(--accent2-color);
}

.platformLink,
.platformCode {
    margin-top: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #888;
    background-color: #888;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap: 2px;
    grid-auto-flow: row;
}

.platformLink>*,
.platformCode>* {
    padding: 1rem;
    background-color: var(--slide_platforms_bg-color);
    display: grid;
    place-content: center;
    transition: 0.25s;
}

.platformLinkDisplay,
.platformCodeDisplay {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 0.9rem;
}

.platformLinkCopyButton,
.platformCodeCopyButton {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0rem 1rem;
    cursor: pointer;
}


/* Slide 3 - howto */

#slide-howto {
    background: linear-gradient(112deg, var(--slide_howto_bg1-color) 0%, var(--slide_howto_bg2-color) 100%);
    color: var(--slide_howto-color);
    padding: 2rem;
}

#slide-howto>div {
    min-height: 40vh;
}

#slide-howto-code {
    font-size: 0.9rem;
}


/* Slide 4 - docs */

#slide-docs {
    background-color: var(--slide_docs_bg-color);
    color: var(--slide_docs-color);
    padding: 2rem;
}

#slide-docs>div {
    min-height: 25vh;
}

.docs-button {
    padding: 1rem;
    background-color: var(--slide_docs-color);
    color: var(--slide_docs_bg-color);
    border: var(--slide_docs-color) 4px solid;
    border-radius: 1rem;
    font-size: 2rem;
    transition: 0.5s;
    cursor: pointer;
}

.docs-button:hover {
    padding: 1rem;
    background-color: var(--slide_docs_bg-color);
    color: var(--slide_docs-color);
    border: 4px solid var(--slide_docs-color);
}

.docs-button>i {
    margin-right: 1rem;
    color: var(--slide_docs_bg-color);
    transition: 0.5s cubic-bezier(1, 0, .5, 0);
}

.docs-button:hover>i {
    color: var(--accent-color);
}